
.important{ 
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.important2{
    text-align: right;
    color: rgb(209, 223, 23);
}

.imageFlottante{
    float: right;
    width: 64px;
    height: 64px;
}

.centerEx2{
    /*border:2px solid black;*/
    width:510px;
    margin-left: auto;
    margin-right: auto;
}

.bordureTableEx3{
    text-align: center;
    border: 1px solid blue;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.bordureTableEx3 tr{
    height: 30px;
    border: 1px solid blue;
}

.bordureTableEx3 th, .bordureTableEx3 td{
    width: 150px;
    border: 1px solid blue;
}

.ulEx4{
    list-style-type: none;
}

.ulEx4 li {
    display: inline;
    padding: 10px;
    border: 1px dotted black;
    border-radius: 5px;
}
.ulEx4 li a{
    text-decoration: none;
}

.ulEx4 li:hover{
    background-color: bisque;
}

.bordureEx5{
    border: 10px dashed black;
}

.bordureEx5 td{
    text-align: center;
    border: 2px solid red;
}